<!DOCTYPE html>
<html lang="en">
  <%- include("layout/head.ejs") %>
  <body>
    <%- include("layout/header.ejs") %>
    <section class="admin_login-section">
      <form action="/admin/login" method="POST">
        <input
          type="password"
          name="password"
          placeholder="Unesite šifru"
          required
        />
        <button type="submit">Prijavi se</button>
      </form>
    </section>
  </body>
</html>
