<!DOCTYPE html>
<html lang="en">
  <%- include("layout/head.ejs") %>
  <body>
    <%- include('layout/header.ejs') %>
    <section class="privacy_policy-section">
      <h1 class="privacy_policy-header">Politika Privatnosti</h1>
      <div class="privacy_policy-content">
        <div class="privacy_policy-div left">
          <p>
            Tropical Glow doo poštuje Vašu privatnost i obavezuje se da će
            prikupljene podatke<br />
            koristiti jedino za sopstvene potrebe, a sve sa ciljem pružanja što
            je moguće bolje<br />
            usluge. Prikupljeni lični podaci koriste se isključivo za obradu
            narudžbina i isporuku<br />
            proizvoda. Lični podaci se prikupljaju tokom procesa kupovine.
            Neophodne<br />
            informacije uključuju ime, prezime, adresu isporuke, kontakt email i
            broj telefona<br />
            korisnika za potrebe dostave. Dodatne informacije podrazumevaju vase
            prethodne<br />
            kupovine proizvoda i ostale informacije koje ste odlučili da
            podelite sa nama na<br />
            dobrovoljnoj osnovi. Za online plaćanja potrebne informacije
            obuhvataju informacije<br />
            o kreditnoj ili debitnoj kartici ili druge informacije koje se tiču
            plaćanja a koje navodite<br />
            prilikom popunjavanja formulara na
            <a href="https://www.tropicalglow.rs">www.tropicalglow.rs</a>.<br />
          </p>
        </div>
        <div class="privacy_policy-div right">
          <p>
            U cilju dostavljanja kupljenih proizvoda efikasno i pouzdano na Vašu
            adresu,<br />
            sarađujemo sa partnerima dostave sa kojima delimo neke od Vaših
            ličnih podataka,<br />
            kao što su ime, prezime, adresa i broj telefona, kao i preferencije
            u vezi sa<br />
            isporukom.
          </p>
        </div>
        <div class="privacy_policy-div left">
          <p>
            Imate pravo na pristup Vašim ličnim podacima, tako što ćete nas
            kontaktirati ukoliko<br />
            želite kopiju pojedinih ili svih ličnih podataka koje imamo o vama.
            Imate pravo da<br />
            zahtevate dopunu i ispravku svih ličnih podataka koje imamo o vama,
            da ograničite<br />
            obradu Vaših podataka nama ili trećim stranama na određenim
            procesima ili u<br />
            potpunosti.<br />
          </p>
        </div>
        <div class="privacy_policy-div left">
          <p>
            Obavezujem o se da ni pod kojim uslovima Tropical Glow doo neće dati
            ili prodati<br />
            lične podatke kupaca trećoj strani.
          </p>
        </div>
        <div class="privacy_policy-div right">
          Svi lični podaci prikupljeni o Vama su strogo poverljivi, zaštićeni od
          neovlašćenog<br />
          pristupa, čuvaju se u bezbednim okruženjima i dostupni su isključivo
          tehničkom<br />
          osoblju sajta.
        </div>
        <div class="privacy_policy-div right">
          Ovi uslovi mogu biti ažurirani ili izmenjeni u bilo koje vreme bez
          prethodnog<br />
          obaveštenja.
        </div>
        <div class="privacy_policy-div center">
          <p>
            Za sve dodatne informacije posaljite email na adresu
            <a href="mailto:tropicalglow.rs@gmail.com"
              >tropicalglow.rs@gmail.com</a
            >.
          </p>
        </div>
      </div>
      <%- include('layout/contact_form.ejs') %>
    </section>
  </body>
  <%- include('layout/footer.ejs') %>
</html>
