<!DOCTYPE html>
<html lang="en">
  <%- include("layout/head.ejs")%>
  <body>
    <%- include("layout/header.ejs") %>
    <section class="terms-section">
      <h1 class="terms-heading">Uslovi Korišćenja</h1>
      <div class="terms-content">
        <div class="terms-div">
          <h2 class="terms_div-heading">Informacije o prodavcu</h2>
          <p class="terms_div-paragraph">
            Internet prodavnicu na
            <a href="https://www.tropicalglow.rs">www.tropicalglow.rs</a> vodi:
          </p>
          <p class="terms_div-paragraph">Tropical Glow d.o.o.</p>
          <p class="terms_div-paragraph">Adresa: Stara Pazova Jana Kolara 7;</p>
          <p class="terms_div-paragraph">PIB: 113740374 ;</p>
          <p class="terms_div-paragraph">
            Delatnost: 4719 Ostala trgovina na malo u nespecijalizovanim
            prodavnicama;
          </p>
          <p class="terms_div-paragraph">
            Kontakt e-mail:
            <a href="mailto:tropicalglow.rs@gmail.com"
              >tropicalglow.rs@gmail.com.</a
            >
          </p>
          <p class="terms_div-paragraph">
            Ova vrsta trgovine smatra se trgovinom na daljinu po zakonu.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Proces kupovine</h2>
          <p class="terms_div-paragraph">
            Nabavka artikala preko www.tropicalglow.rs može se obaviti kao
            direktna kupovina ili <br />
            preko registracije korisnika. Za porudžbine ispod 10.000,00 dinara
            sa PDV-om,<br />
            kupac plaća troškove dostave kako je navedeno prilikom potvrde
            porudžbine.<br />
            Porudžbine preko ove vrednosti su oslobođene troškova dostave.
            Odustajanjem od<br />
            kupovine kupac je oslobođen svih obaveza osim troškova dostave i
            povrata robe.<br />
            Potvrdom porudžbine kupac prihvata ove Uslove.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Direktna kupovina</h2>
          <p class="terms_div-paragraph">
            Kupci mogu izvršiti direktnu kupovinu bez registracije, unosom
            neophodnih<br />
            informacija za dostavu (ime, prezime, adresa, telefon, e-mail),
            izborom načina<br />
            plaćanja i potvrdom porudžbine.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Kupovina registrovanog korisnika</h2>
          <p class="terms_div-paragraph">
            Registrovani korisnici mogu kupovati prijavljivanjem na
            <a href="https://www.tropicalglow.rs">www.tropicalglow.rs</a>, na<br />
            određenoj stranici i unosom traženih podataka (ime, prezime, adresa,
            telefon, e-<br />
            mail), zatim dodavanjem proizvoda u korpu, izborom načina plaćanja i
            potvrdom<br />
            narudžbe.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Načini plaćanja</h2>
          <p class="terms_div-paragraph">
            Plaćanje na www.tropicalglow.rs je moguće pouzećem ili karticom.
            Račun se<br />
            dostavlja sa narudžbinom.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Dostava</h2>
          <p class="terms_div-paragraph">
            Status porudžbine počinje obradom nakon njenog slanja. Prodavac
            kontaktira kupca<br />
            u slučaju problema. Rok isporuke je 10 radnih dana. Dostava se vrši
            preko kurirskih<br />
            službi Republike Srbije. Troškove dostave snosi kupac, osim ako nije
            drugačije<br />
            navedeno.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Cene</h2>
          <p class="terms_div-paragraph">
            Cene na www.tropicalglow.rs su izražene u dinarima sa uračunatim
            PDV-om. Cene<br />
            su važeće u trenutku potvrde plaćanja. Trgovac zadržava parvo da
            promeni cene<br />
            bez najave.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Usaglašenost proiyvoda</h2>
          <p class="terms_div-paragraph">
            Na web stranici www.tropicalglow.rs prikazani su svi proizvodi uz
            fotografije i kratke<br />
            opise. Informacije o proizvodima su zasnovane na podacima dobijenim
            direktno od<br />
            Proizvođača (JANET LANKA (Pvt) Ltd, Sinsapa Road, Colombo 6, Šri
            Lanka).<br />
            Fotografije proizvoda služe isključivo za ilustraciju. Stvarni
            proizvodi mogu se u<br />
            nekim detaljima razlikovati od onih na fotografijama. Razlike mogu
            nastati zbog<br />
            postavki monitora kupca ili različitih percepcija boja. Ako se
            proizvod isporučen ne<br />
            poklapa sa slikom na web stranici, to ne znači da proizvod ima
            nedostatak.<br />
            Informacije o proizvodima, uključujući opise, cene i sastav,
            dostupne su na web<br />
            stranici www.tropicalglow.rs. Ove informacije mogu biti podložne
            tipografskim<br />
            greškama. U slučaju očigledanih grešaka, Prodavac zadržava pravo
            jednostrano<br />
            raskinuti ugovor.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Dostupnost proizvoda</h2>
          <p class="terms_div-paragraph">
            Možete naručiti samo proizvode koji su dostupni i navedeni kao takvi
            na web stranici.<br />
            U slučaju velikog broja istovremenih porudžbina, stanje zaliha na
            web stranici možda<br />
            neće uvek odražavati stvarno stanje u skladištu. U tom slučaju,
            ukoliko poručeni<br />
            proizvod nije dostupan, bićete obavešteni o nedostuonosti. Uz
            obaveštenje,<br />
            predložićemo Vam alternativni proizvod ili dogovoriti novi rok
            isporuke. U slučaju da<br />
            nije moguće isporučiti naručeni i plaćeni proizvod, Prodavac će
            vratiti sve uplaćene<br />
            iznose.
          </p>
        </div>

        <div class="terms-div">
          <h2 class="terms_div-heading">Reklamacija i zamena dobara</h2>
          <p class="terms_div-paragraph">
            Zamena robe je moguća unutar 15 dana od prijema, pod uslovom da je
            roba<br />
            nekorišćena i neoštećena. Zakonski rok za odgovor na reklamaciju je
            8 dana od<br />
            prijema iste.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Odustajanje od ugovora</h2>
          <p class="terms_div-paragraph">
            Kupac može odustati od ugovora u roku od 14 dana bez navođenja
            razloga.<br />
            Obrazac za odustajanje nalazi se na www.tropicalglow.rs. Proizvod se
            vraća u<br />
            originalnom pakovanju, pod uslovom da je bez oštećenja i neotvoren.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Povraćaj sredstava</h2>
          <p class="terms_div-paragraph">
            U slučaju odustajanja, povraćaj se vrši na tekući račun kupca,
            najkasnije 15 dana<br />
            nakon prijema izjave o odustanku i nakon utvrđivanja ispravnosti
            proizvoda.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">intelektualna svojina</h2>
          <p class="terms_div-paragraph">
            Sadržaj na
            <a href="htpps://www.tropicalglow.rs">www.tropicalglow.rs</a> je
            intelektualna svojina Trgovca ili ovlašćenih trećih<br />
            lica. Svaka neovlašćena upotreba je zabranjena.
          </p>
        </div>
        <div class="terms-div">
          <h2 class="terms_div-heading">Završne odredbe</h2>
          <p class="terms_div-paragraph">
            Trgovac zadržava pravo izmene Uslova bez najave.
          </p>
        </div>
      </div>
      <%- include('layout/contact_form.ejs') %>
    </section>
    <%- include('layout/footer.ejs') %>
  </body>
</html>
