.blog_page {
  margin-top: 1rem;
}
.blog_page-heading {
  text-align: center;
  font-size: 3rem;
  color: #3e5d4b;
}
.blog_cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 3rem;
}
.blog_card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}
.blog_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.blog_underline-heading {
  text-align: center;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 5.3rem;
}

.blog_underline-heading h2 {
  font-weight: 600;
  text-align: center;
  font-family: SeasonsLight;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  flex: 2;
}
.blog_underline {
  width: 45%;
  height: 0.5px;
  background-color: #3b5947;
  margin: auto;
  font-weight: 500;
}

.blog_img-container img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.blog_card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  color: #3b5947;
  padding: 0 1.5rem 1rem;
  gap: 1rem;
  flex: 1;
}

.blog_card-content p {
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  text-align: left;

  font-size: 0.9rem;
}
.blog_card-content a {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  text-decoration-thickness: 0.5px;
  font-size: 0.9rem;
}
.blog_card-content a:hover {
  color: rgb(109, 149, 121);
}
@media (max-width: 1197px) {
  .blog_underline-heading h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 950px) {
  .blog_cards-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  .blog_card-content {
    font-size: 1.2rem;
  }
}
@media (max-width: 680px) {
  .blog_cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog_underline-heading {
    gap: 1rem;
    min-height: fit-content;
  }
  .blog_underline-heading h2 {
    font-size: 2rem;
  }
}
