.contact_section {
  display: flex;
  min-height: 100vh;
  padding: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.email_contact-container {
  color: #3b5947;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  padding-left: 5rem;
  margin-top: 11rem;
}
.email_contact-container a {
  color: #6fb7ff;
}

@media (max-width: 850px) {
  .contact_section {
    flex-direction: column;
    align-items: center;
  }
  .email_contact-container {
    width: 85%;
    padding: 0;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .contact_form {
    margin-top: 1rem;
    width: 85%;
  }
}
@media (max-width: 680px) {
  .contact_form {
    width: 95%;
  }
  .email_contact-container {
    width: 95%;
  }
}
