.skin_concern-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  color: #3b5947;
}
.skin_concern-header img {
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.7;
}
.skin_concern-header_content {
  position: absolute;
  text-align: center;
  padding: 0 14rem;
}
.skin_concern-header_content h1 {
  font-size: 4rem;
}

.skin_concern-header_p {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
}
.skin_concern-header_p.small {
  display: none;
}

.skin_concern-products {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
  background-color: #f9f5f2;
  padding: 0 2rem;
}

@media (max-width: 850px) {
  html {
    font-size: 14px;
  }
  .skin_concern-header_content {
    padding: 0 6rem;
  }

  .skin_concern-header_content h1 {
    font-size: 2.5rem;
  }
  .skin_concern-header_content p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 680px) {
  .skin_concern-header_content {
    padding: 0 1rem;
    width: 100%;
  }
  .skin_concern-header_content h1 {
    font-size: 1.7rem;
  }
  .skin_concern-header_content p {
    margin-top: 0.5rem;
    font-size: 1.1rem;
  }
  .skin_concern-header_p {
    display: none;
  }
  .skin_concern-header_p.small {
    display: block;
  }
}
