<footer>
  <%- include("social_links.ejs") %>
  <nav class="footer_navigation">
    <ul class="footer_navigation-list">
      <li class="footer_item">
        <a href="/uslovi_koriscenja">Uslovi Korišćenja</a>
      </li>

      <li class="footer_item">
        <a href="/politika_privatnosti">Politika Privatnosti</a>
      </li>
      <li class="footer_item"><a href="/kontakt">Kontakt</a></li>
      <li class="footer_item">
        <a href="/contract/Obrazac za odustanak od ugovora.docx" download
          >Obrazac za Odustanak od Ugovora</a
        >
      </li>
    </ul>
  </nav>
</footer>
